.about-vertical-bar {
  margin-left: 39rem;
}



.about-first-bar {
  top: 1rem;
}

.about-second-bar {
  top: 12.5rem;
}




.about-menu-option:hover, .about-menu-selected:hover {
  background-image:url('/images/bars/blue-horizontal-matte-menu-dark.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
  cursor: pointer;
}



.about-menu-selected {
  background-image:url('/images/bars/blue-horizontal-matte-menu-light.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.about-books-menu li {
  background-color: #273149;
}

.about-books-menu li:hover {
  background-color: #4380E9;
}



.about-header {
    width: 39rem;
    font-family: "bigelow_rulesregular";
    text-align: center;
    font-size: 7rem;
    height: 9rem;
    margin-top: 3.5rem;
}



.about-me {
  float: left;
  margin-top: 2.5rem;
  padding: 1.5rem;
  width: 36rem;
  text-align: justify;
  font-family: 'Kalam', cursive;
  font-size: 1rem;
}

.family-link {
  text-decoration: none;
  color: inherit;
}



.about-image {
  float: right;
  width: 16rem;
  height: 16rem;
}



.about-images {
  float: right;
  width: 23.5rem;
  color: gray;
  font-family: oswald;
}

/* inspired by https://codepen.io/joshbader/pen/fFLno */
#cube_one_container {
  background-color: white;
  position: relative;
  width: 16rem;
  height: 16rem;

  margin-top: 6rem;
  margin-left: 4.25rem;

  perspective: 1000px;
}

#cube_one {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms;
}

#cube_one figure {
    position: absolute;
    display: block;
    width: 16rem;
    height: 16rem;
    border: 0.125rem solid #444444;
    cursor: pointer;
}

#cube_one .front { transform: rotateY(0deg) translateZ(8rem); }
#cube_one .back { transform: rotateX(180deg) translateZ(8rem); }
#cube_one .right { transform: rotateY(90deg) translateZ(8rem); }
#cube_one .left { transform: rotateY(-90deg) translateZ(8rem); }
#cube_one .top { transform: rotateX(90deg) translateZ(8rem); }
#cube_one .bottom { transform: rotateX(-90deg) translateZ(8rem); }

#cube_two_container {
  background-color: white;
  position: relative;
  width: 16rem;
  height: 16rem;

  margin-top: 6rem;
  margin-left: 4.25rem;

  perspective: 1000px;
}

#cube_two {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms;
}

#cube_two figure {
    position: absolute;
    display: block;
    width: 16rem;
    height: 16rem;
    border: 0.125rem solid #444444;
    cursor: pointer;
}

#cube_two .front { transform: rotateY(0deg) translateZ(8rem); }
#cube_two .back { transform: rotateX(180deg) translateZ(8rem); }
#cube_two .right { transform: rotateY(90deg) translateZ(8rem); }
#cube_two .left { transform: rotateY(-90deg) translateZ(8rem); }
#cube_two .top { transform: rotateX(90deg) translateZ(8rem); }
#cube_two .bottom { transform: rotateX(-90deg) translateZ(8rem); }

#cube_three_container {
  background-color: white;
  position: relative;
  width: 16rem;
  height: 16rem;

  margin-top: 6rem;
  margin-left: 4.25rem;

  perspective: 1000px;
}

#cube_three {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms;
}

#cube_three figure {
    position: absolute;
    display: block;
    width: 16rem;
    height: 16rem;
    border: 0.125rem solid #444444;
    cursor: pointer;
}

#cube_three .front { transform: rotateY(0deg) translateZ(8rem); }
#cube_three .back { transform: rotateX(180deg) translateZ(8rem); }
#cube_three .right { transform: rotateY(90deg) translateZ(8rem); }
#cube_three .left { transform: rotateY(-90deg) translateZ(8rem); }
#cube_three .top { transform: rotateX(90deg) translateZ(8rem); }
#cube_three .bottom { transform: rotateX(-90deg) translateZ(8rem); }

.blur { animation: blur 250ms; }

@keyframes blur {
    0% { -webkit-filter: blur(0px); }
    50% { -webkit-filter: blur(5px); }
    100% { -webkit-filter: blur(0px); }
}







































/*.left-content-div-about {
  width: 38rem;
}

.right-content-div-about {
    width: 24rem;
    left: 42rem;
}

.horizontal-bar-one-about {
  top: 10rem;
}

.horizontal-bar-two-about {
  top: 13.2rem;
}

.about-me-div {
  padding: 1rem;
  padding-top: 6.4rem;
}

.about-me-photo-div {
  padding-top: 6.4rem;
}

.about-image {
  margin: 2rem;
  width: 20rem;
  height: 20rem;
}

#photo_one_cube .front { transform: rotateY(0deg) translateZ(75px); }
#photo_one_cube .back { transform: rotateX(180deg) translateZ(75px); }
#photo_one_cube .right { transform: rotateY(90deg) translateZ(75px); }
#photo_one_cube .left { transform: rotateY(-90deg) translateZ(75px); }
#photo_one_cube .top { transform: rotateX(90deg) translateZ(100px); }
#photo_one_cube .bottom { transform: rotateX(-90deg) translateZ(100px); }

.blur { animation: blur 250ms; }

@keyframes blur {
    0% { -webkit-filter: blur(0px); }
    50% { -webkit-filter: blur(5px); }
    100% { -webkit-filter: blur(0px); }
}*/
