.about-vertical-bar {
  margin-left: 38rem;
}



.about-first-bar {
  top: 1rem;
}

.about-second-bar {
  top: 12.5rem;
}



.about-menu-option:hover, .about-menu-selected:hover {
  background-image:url('/images/bars/blue-horizontal-matte-menu-dark.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
  cursor: pointer;
}


.about-menu-selected {
  background-image:url('/images/bars/blue-horizontal-matte-menu-light.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}




.about-header {
    width: 38rem;
    font-family: "bigelow_rulesregular";
    text-align: center;
    font-size: 7rem;
    height: 9rem;
    margin-top: 3.5rem;
}



.about-me {
  float: left;
  margin-top: 2.5rem;
  padding: 1rem;
  width: 36rem;
  text-align: justify;
  font-family: 'Kalam', cursive;
  font-size: 1rem;
}

.family-link {
  text-decoration: none;
  color: inherit;
}



.about-images {
  margin-top: 2.5rem;
  width: 20rem;
  float: right;
  padding: 1.75rem;
}

.about-image {
  float: right;
  margin-bottom: 1.75rem;
  width: 20rem;
  height: 20rem;
  box-shadow: -5px 5px 5px #444444;
}


/*.left-content-div-about {
  width: 38rem;
}

.right-content-div-about {
    width: 24rem;
    left: 42rem;
}

.horizontal-bar-one-about {
  top: 10rem;
}

.horizontal-bar-two-about {
  top: 13.2rem;
}

.about-me-div {
  padding: 1rem;
  padding-top: 6.4rem;
}

.about-me-photo-div {
  padding-top: 6.4rem;
}

.about-image {
  margin: 2rem;
  width: 20rem;
  height: 20rem;
}

#photo_one_cube .front { transform: rotateY(0deg) translateZ(75px); }
#photo_one_cube .back { transform: rotateX(180deg) translateZ(75px); }
#photo_one_cube .right { transform: rotateY(90deg) translateZ(75px); }
#photo_one_cube .left { transform: rotateY(-90deg) translateZ(75px); }
#photo_one_cube .top { transform: rotateX(90deg) translateZ(100px); }
#photo_one_cube .bottom { transform: rotateX(-90deg) translateZ(100px); }

.blur { animation: blur 250ms; }

@keyframes blur {
    0% { -webkit-filter: blur(0px); }
    50% { -webkit-filter: blur(5px); }
    100% { -webkit-filter: blur(0px); }
}*/
