.red-horizontal {
  background-color: #df333f;
  background-image:url('/images/bars/red-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.dark-red-horizontal {
  background-color: #A31F31;
  background-image:url('/images/bars/dark-red-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.orange-horizontal {
  background-color: #f49324;
  background-image:url('/images/bars/orange-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.green-horizontal {
  background-color: #1ad2aa;
  background-image:url('/images/bars/green-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.dark-green-horizontal {
  background-color: #1F8269;
  background-image:url('/images/bars/dark-green-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.blue-horizontal {
  background-color: #1c60ba;
  background-image:url('/images/bars/blue-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.black-horizontal {
  background-color: black;
  background-image:url('/images/bars/black-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.purple-horizontal {
  background-color: #8554aa;
  background-image:url('/images/bars/purple-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.yellow-horizontal {
  background-color: #c6ad55;
  background-image:url('/images/bars/yellow-horizontal-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.green-horizontal-dont-say-poop {
  background-color: #A3DB0B;
  background-image:url('/images/bars/green-horizontal-dont-say-poop-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.blue-horizontal-dont-say-poop {
  background-color: #67CEEE;
  background-image:url('/images/bars/blue-horizontal-dont-say-poop-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.brown-horizontal-dont-say-poop {
  background-color: #b27949;
  background-image:url('/images/bars/brown-horizontal-dont-say-poop-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.orange-horizontal-my-ex-imaginary-friend {
  background-color: #F17B51;
  background-image:url('/images/bars/orange-horizontal-my-ex-imaginary-friend-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.blue-horizontal-my-ex-imaginary-friend {
  background-color: #107989;
  background-image:url('/images/bars/blue-horizontal-my-ex-imaginary-friend-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.gray-horizontal-my-ex-imaginary-friend {
  background-color: #3C4B4C;
  background-image:url('/images/bars/gray-horizontal-my-ex-imaginary-friend-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.maroon-horizontal-contact {
  background-color: #F17B51;
  background-image:url('/images/bars/maroon-horizontal-contact-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.green-horizontal-contact {
  background-color: #6C9B7A;
  background-image:url('/images/bars/green-horizontal-contact-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.blue-horizontal-contact {
  background-color: #567B96;
  background-image:url('/images/bars/blue-horizontal-contact-matte.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.forsooth-yellow {
  background-color: #E0B859;
  background-image:url('/images/bars/forsooth-yellow.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.forsooth-teal {
  background-color: #2E7685;
  background-image:url('/images/bars/forsooth-teal.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.forsooth-navy {
  background-color: #16335D;
  background-image:url('/images/bars/forsooth-navy.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}



.black-vertical {
  background-color: black;
  background-image:url('/images/bars/black-vertical-matte.png');
  background-repeat: y-repeat;
  background-size: 100% auto;
}

.orange-vertical {
  background-color: #f49324;
  background-image:url('/images/bars/orange-vertical-matte.png');
  background-repeat: y-repeat;
  background-size: 100% auto;
}

.purple-vertical {
  background-color: #8554aa;
  background-image:url('/images/bars/purple-vertical-matte.png');
  background-repeat: y-repeat;
  background-size: 100% auto;
}

.yellow-vertical {
  background-color: #c6ad55;
  background-image:url('/images/bars/yellow-vertical-matte.png');
  background-repeat: y-repeat;
  background-size: 100% auto;
}

.blue-vertical {
  background-color: #1c60ba;
  background-image:url('/images/bars/blue-vertical-matte.png');
  background-repeat: y-repeat;
  background-size: 100% auto;
}