.left-content-div-contact {
	width: 64rem;
}

.horizontal-bar-one-contact {
	top: 10rem;
}

.horizontal-bar-two-contact {
	top: 13.2rem;
}

.horizontal-bar-three-contact {
	top: 16.4rem;
}

.about-me-div {
	padding: 1rem;
	padding-top: 9.6rem;
}
