.contact-vertical-bar {
  margin-left: 39rem;
}



.contact-first-bar {
  top: 1rem;
}

.contact-second-bar {
  top: 12rem;
}

.contact-third-bar {
  top: 16rem;
}



.contact-menu-option:hover, .contact-menu-selected:hover {
  background-image:url('/images/bars/maroon-horizontal-contact-matte-menu-dark.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
  cursor: pointer;
}



.contact-menu-selected {
  background-image:url('/images/bars/maroon-horizontal-contact-matte-menu-light.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.contact-books-menu li {
  background-color: #4B2F35;
}

.contact-books-menu li:hover {
  background-color: #B46278;
}



.contact-header {
  width: 64rem;
  font-family: "bigelow_rulesregular";
  text-align: center;
  font-size: 7rem;
  height: 9rem;
  margin-top: 3.5rem;
}

.contact-information {
  margin-top: 2rem;
  text-align: center;
}

.contact-information a {
  text-decoration: underline;
  color: inherit;
}

.contact-picture {
  width: 100%;
  box-shadow: -5px 5px 5px #444444;
}

.contact-picture-div {
  margin-top: 8rem;
  margin-bottom: 0.25rem;
  margin-left: 20rem;
  width: 24rem;
}