* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    height: 100%;
    background: #f2d9b7;
}

/* div for the center of the webpage */
.center-div {
    width: 64rem;
    min-height: 100%;
    position: absolute;
    display: table;

    /* width of 64rem, at most at left boundary */
    left: -moz-calc(max(0rem, 50% - 32rem));
    left: -webkit-calc(max(0rem, 50% - 32rem));
    left: -o-calc(max(0rem, 50% - 32rem));
    left: calc(max(0rem, 50% - 32rem));
}

.left-content-div {
    top: 0;
    min-height: 100%;
    display: table-cell;
    padding-bottom: 2rem;
    font-family: 'Kalam', cursive;
    font-weight: thin;
    font-size: 1.25rem;
}

/* div for the vertical bars in all webpages */
.vertical-bar {
    top: 0;
    width: 2rem;
    min-height: 100%;
    display: table-cell;
    box-shadow: 2px 0px 50x #888888;
}

.right-content-div {
    top: 0;
    min-height: 100%;
    display: table-cell;
    padding-bottom: 2rem;
    font-family: 'Kalam', cursive;
    font-weight: thin;
    font-size: 1.25rem;
}

.horizontal-bar {
    width: 100%;
    min-width: 64rem;
    height: 2rem;
    padding: 0px;
    position: absolute;
    box-shadow: 0px 2px 5px #888888;
}

/* div css for the headers for each page */
.header-div {
    width: 100%;
    font-family: "bigelow_rulesregular";
    text-align: center;
    font-size: 8rem;
    height: 10rem;
}

/* css for the new font style */
@font-face {
    font-family: 'bigelow_rulesregular';
    src: url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.eot');
    src: url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.woff2') format('woff2'),
         url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.woff') format('woff'),
         url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.ttf') format('truetype'),
         url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.svg#bigelow_rulesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}