* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  height: 100%;
  background: #f2d9b7;
}



/* css for the horizontal bar menus */
.menu-default {
  position: absolute;
  left: 50%;
  margin-left: -32rem;
  height: 2.5rem;
}

.menu-default li {
  display: inline;
  float: left;
  height: 2.5rem;

  width: 6.5rem;
  text-align: center;

  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.menu-default li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.menu-default-span {
  vertical-align: middle;
}

.books-menu-dropdown {
  height: 100%;
}

#books-menu-default {
  display: none;
  min-width: 16rem;

}

#books-menu-default li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 2rem;
  width: 100%;
  float: left;
  font-size: 1.25rem;
}

#books-menu-default li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}



/* css for the central content div */
#content {
  position: absolute;
  z-index: 0;
  min-width: 64rem;
  width: 64rem;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 100vh;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25rem;
}



/* css for any vertical bars */
.vertical-color-bar {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 2.5rem;
  z-index: 1;
  box-shadow: -2px 2px 2px #444444;
}



/* css for any horizontal bars */
.horizontal-color-bar {
  position: absolute;
  width: 100%;
  min-width: 64rem;
  height: 2.5rem;
  z-index: 2;
  box-shadow: -2px 2px 2px #444444;
}

/* css for buy options for all books */
.buy-at-options {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 34rem;
  height: 2.75rem;
}

.buy-at-option {
  display: inline;
  float: left;
  background-color: #ebc793;
  font-size: 1.25rem;
  padding: 0.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  height: 1.75rem;
  margin-right: 0.25rem;
  box-shadow: -2px 2px 5px #444444;
}

.buy-at-option:hover {
  box-shadow: -5px 5px 5px #888888;
}

.buy-at-option a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0rem;
  margin: 0rem;
}

/* bigelow-rules-regular - latin */
@font-face {
  font-family: 'Bigelow Rules';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Bigelow_Rules/bigelow-rules-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bigelow Rules Regular'), local('BigelowRules-Regular'),
       url('../fonts/Bigelow_Rules/bigelow-rules-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Bigelow_Rules/bigelow-rules-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Bigelow_Rules/bigelow-rules-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Bigelow_Rules/bigelow-rules-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Bigelow_Rules/bigelow-rules-v9-latin-regular.svg#BigelowRules') format('svg'); /* Legacy iOS */
}

/* open-sans-condensed-300 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
       url('../fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}

.footer-div {
  width: 100%;
  height: 3rem;
  float: right;
  padding: 0rem;
  margin: 0rem;
}