* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  height: 100%;
  background: #f2d9b7;
}



/* css for the horizontal bar menus */
.menu-default {
  position: absolute;
  left: 50%;
  margin-left: -32rem;
  height: 2.5rem;
}

.menu-default li {
  display: inline;
  float: left;
  height: 2.5rem;

  width: 6.5rem;
  text-align: center;

  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  color: white;
  font-weight: bold;
}

.menu-default li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.books-menu-dropdown {
  height: 100%;
}

.books-menu-dropdown:hover .books-menu-default {
  display: block;
}

.books-menu-default {
  display: none;
}

.books-menu-default li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 2rem;
  min-width: 16rem;
  float: left;
  font-size: 1.75rem;
}

.books-menu-default li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}



/* css for the central content div */
.content {
  position: absolute;
  z-index: 0;
  min-width: 64rem;
  width: 64rem;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 100%;
}



/* css for any vertical bars */
.vertical-color-bar {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 2.5rem;
  z-index: 1;
  box-shadow: -2px 2px 2px #444444;
}



/* css for any horizontal bars */
.horizontal-color-bar {
  position: absolute;
  width: 100%;
  min-width: 64rem;
  height: 2.5rem;
  z-index: 2;
  box-shadow: -2px 2px 2px #444444;
}

@font-face {
  font-family: 'bigelow_rulesregular';
  src: url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.eot');
  src: url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.woff2') format('woff2'),
  url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.woff') format('woff'),
  url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.ttf') format('truetype'),
  url('/fonts/Bigelow_Rules/bigelowrules-regular-webfont.svg#bigelow_rulesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* css for buy options for all books */
.buy-at-options {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 34rem;
  height: 2.75rem;
}

.buy-at-option {
  display: inline;
  float: left;
  background-color: #ebc793;
  font-size: 1.75rem;
  padding: 0.5rem;
  font-family: "bigelow_rulesregular";
  text-align: center;
  height: 1.75rem;
  margin-right: 0.25rem;
  box-shadow: -2px 2px 5px #444444;
}

.buy-at-option:hover {
  box-shadow: -5px 5px 5px #888888;
}

.buy-at-option a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0rem;
  margin: 0rem;
}