.frequently-vertical-bar {
  margin-left: 54rem;
}



.frequently-first-bar {
  top: 1rem;
}

.frequently-second-bar {
  top: 12.5rem;
}




.frequently-menu-option:hover, .frequently-menu-selected:hover {
  background-image:url('/images/bars/dark-red-horizontal-matte-menu-dark.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
  cursor: pointer;
}



.frequently-menu-selected {
  background-image:url('/images/bars/dark-red-horizontal-matte-menu-light.png');
  background-repeat: x-repeat;
  background-size: auto 100%;
}

.frequently-books-menu li {
  background-color: #942B30;
}

.frequently-books-menu li:hover {
  background-color: #FD525D;
}



.frequently-header {
  width: 54rem;
  font-family: "bigelow_rulesregular";
  text-align: center;
  font-size: 7rem;
  height: 9rem;
  margin-top: 3.5rem;
}

.frequently-div {
  margin-top: 2.5rem;
  width: 50rem;
  padding: 2rem;
  text-align: justify;
}

.frequently-div a {
  color: inherit;
  text-decoration: underline;
}