.content-div {
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	position: absolute;
	min-width: 75rem;

	/* Firefox */
	left: -moz-calc(50% - 37.5rem);
	/* WebKit */
	left: -webkit-calc(50% - 37.5rem);
	/* Opera */
	left: -o-calc(50% - 37.5rem);
	/* Standard */
	left: calc(50% - 37.5rem);
}

.header-div {
	font-family: "bigelow_rulesregular";
	font-size: 7rem;
	left: 22rem;
	text-align: center;
	z-index: 1;
	position: absolute;
	width: auto;

	/* Firefox */
	width: -moz-calc(100% - 22rem);
	/* WebKit */
	width: -webkit-calc(100% - 22rem);
	/* Opera */
	width: -o-calc(100% - 22rem);
	/* Standard */
	width: calc(100% - 22rem);
}

.photo-div {
	left: 22rem;
	z-index: 1;
	position: absolute;
	top: 17.6rem;
	padding: 0px;
	margin: 0px;
	/* Firefox */
	width: -moz-calc(100% - 22rem);
	/* WebKit */
	width: -webkit-calc(100% - 22rem);
	/* Opera */
	width: -o-calc(100% - 22rem);
	/* Standard */
	width: calc(100% - 22rem);
}

.headshot-photo {
	width: 50%;
	margin-top: 2rem;
	margin-left: 25%;
	padding: 0px;
}

.menu-div {
	width: 20rem;
	left: 0rem;
	top: 19.6rem;
	z-index: 1;
	position: absolute;
}

.menu-item {
	text-align: center;
	font-family: "bigelow_rulesregular";
	font-size: 3.75em;
	padding-top: 0.125em;
	padding-bottom: 0.125em;
	text-align: center;
	width: 90%;
	margin-left: 5%;
	background-color: #ebc793;
	margin-bottom: 0.25em;
	z-index: 2;
}

.menu-item:hover {
	cursor: pointer;
	box-shadow: -5px 5px 5px #888888;
}

.menu-item-book {
	display: none;
	font-size: 2.25em;
	width: 85%;
	margin-left: 7.5%;
}

.vertical-bars {
	width: 2rem;
	height: 100%;
	z-index: 2;
	position: absolute;
}

.vertical-bars-home {
	background-color: black;
	left: 20em;
}

.horizontal-bar-region {
	top: 8rem;
	width: 100%;
	z-index: 3;
	position: absolute;
	min-width: 1200px;
}

.horizontal-bars {
	width: 100%;
	height: 2rem;
	padding: 0px;
	margin-top: 1.2rem;
	position: relative;
}

