.home-vertical-bar {
  margin-left: 18rem;
}



.home-first-bar {
  top: 1rem;
}

.home-second-bar {
  top: 4.5rem;
}

.home-third-bar {
  top: 16rem;
}




.home-header {
  width: 43.5rem;
  font-family: 'Bigelow Rules', cursive;
  text-align: center;
  font-size: 7rem;
  height: 9rem;
  margin-top: 7rem;
  margin-left: 20.5rem;
}

.headshot-photo {
  width: 22rem;
  margin-top: 4.5rem;
  float: right;
  margin-right: 10.75rem;
  padding: 0px;
  box-shadow: -5px 5px 5px #444444;
}



.menu-div {
  float: left;
  width: 16rem;
  margin-top: 4.5rem;
}

.menu-item {
  text-align: center;
  font-family: 'Bigelow Rules', cursive;
  font-size: 3.75rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  text-align: center;
  width: 16rem;
  margin-left: 1rem;
  background-color: #ebc793;
  margin-bottom: 0.5rem;
  z-index: 2;
  box-shadow: -2px 2px 5px #444444;
  display: block;
  color: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.social-menu-item {
  text-align: center;
  font-family: 'Bigelow Rules', cursive;
  font-size: 3.75rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  text-align: center;
  width: 16rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  z-index: 2;
  display: block;
  color: black;
}

.menu-item-wrapper {
  text-decoration: none;
  color: inherit;
}

.menu-item-wrapper:visited {
  text-decoration: none;
}

.menu-item:hover {
  cursor: pointer;
  box-shadow: -5px 5px 5px #888888;
}

.menu-item-book {
  display: none;
  font-size: 2rem;
  width: 14rem;
  margin-left: 2rem;
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.social-media-icon {
  height: 3.75rem;
}

#list-books-menu-option {
  background-image: url('/images/books-menu-home-open.png');
  background-size: 100% 100%; 
}