/* On the about page, the vertical bar is 40rem from the left, 2rem wide */

.left-content-div-book {
	width: 64rem;
}

.horizontal-bar-one-book {
	top: 2rem;
}

.horizontal-bar-two-book {
	top: 5.2rem;
}

.horizontal-bar-three-book {
	top: 17.2em;
}

.book-header-div {
	margin-top: 7.2rem;
}

.book-image-div {
	width: 26rem;
	padding-top: 3.2rem;
	float: left;
	text-align: center;
}

.book-div {
	width: 36rem;
	padding: 1rem;
	padding-top: 3.2rem;
	text-align: justify;
	float: right;
}

.about-me-photo-div {
	padding-top: 6.4rem;
}

.book-image {
	box-shadow: -2px 2px 5px #888888;
}

.book-buy-locations {
	padding-left: 1rem;
}

.book-buy-hyperlinks {
	text-decoration: none; 
	color: inherit;
}