.vertical-bar-faq {
	left: -moz-calc(max(56rem, 50% + 24rem));
	left: -webkit-calc(max(56rem, 50% + 24rem));
	left: -o-calc(max(56rem, 50% + 24rem));
	left: calc(max(56rem, 50% + 24rem));
}

.header-div-faq {
	top: 4rem;
	width: 56rem;
}

.content-div-faq {
	top: 18rem;
	width: 54rem;
	font-size: 1.75rem;
}

.ques-one-bar-region {
    width: 100%;
    top: 2rem;
    z-index: 3;
    position: absolute;
}

.ques-two-bar-region {
    width: 100%;
    top: 14rem;
    z-index: 3;
    position: absolute;
}

.left-content-div-faq {
	width: 38rem;
	padding: 1rem;
	font-size: 1.75rem;
}

.seldom-photo {
	margin-left: 12rem;
	width: 30rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}